<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      dados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <Ion-Item  lines="full"></Ion-Item>>
    <Ion-Avatar slot="start">
      <img src="assets/jao.jpg" />
    </Ion-Avatar>
    <Ion-Label>
      <div class="ion-text-wrap">
      <div>
      <h2>Joao pedro paulino</h2>
      <p>estudante da etec cidade do livro</p>
      <p>Lençois paulista</p>
      <p>+55 14 996875602</p>
      <p>
        <a href="mailto:jppaulino142536@gmail.com"></a>
        jppaulino142536@gmail.com
      </p>
    </div>

    </Ion-Label>
  </Ion-Item>
  <div>
  <img src="https://assets.pokemon.com/static2/br/img/icons/tcgo_logo.png">
</div>

<ion-item lines="full">
  <ion-label>versao</ion-label>
  <ion-badge slot="end" color="tertiary">0.1</ion-badge>
</ion-item>


</Ion-Content>


